# String Concatenation:

In [3]:
# By using "+" operator:

a = "Gireesh"
b = "The Developer"
c = a + b
print(c)

GireeshThe Developer

In [4]:
# To add a space add a " ":
a = "Gireesh"
b = "The Developer"
c = a + " " + b
print(c)

Gireesh The Developer

## Practice Examples:

In [5]:
# Example 1: Join two words
a = "Hello"
b = "Universe!"

result = a + b
print(result)

HelloUniverse!

In [6]:
# Example 2: Add space between words
a = "Hello"
b = "Universe!"

result = a + " " + b
print(result)

Hello Universe!

In [7]:
# Example 3: Sentence creation
name = "Giri"
msg = "Welcome"

print(msg + " " + name)

Welcome Giri

In [8]:
# Example 4: Concatenate string with number (IMPORTANT)
# This gives error:
age = 25
print("Age is " + age)

TypeError: can only concatenate str (not "int") to str

In [9]:
# Correct way:
age = 25
print("Age is " + str(age))

Age is 25

In [11]:
# Example 5: Multiple concatenation
city = "Bangalore"
state = "Karnataka"
country = "India"

print(city + ", " + state + ", " + country)

Bangalore, Karnataka, India

## Real-Life String Concatenation Examples:

In [12]:
# Example 1: Full Name (Forms / Certificates)
first_name = "Giri"
last_name = "Gowda"

full_name = first_name + " " + last_name
print(full_name)

Giri Gowda

In [13]:
# Example 2: Phone Message
name = "Giri"
message = "Your OTP is "

otp = 1234
print(message + str(otp) + ", " + name)

Your OTP is 1234, Giri

In [14]:
# Example 3: Shopping Bill Line
item = "Apple"
price = 50

print("Item: " + item + " | Price: ₹" + str(price))

Item: Apple | Price: ₹50

In [15]:
# Example 4: Student Result Message
student = "Giri"
result = "PASS"

print("Student " + student + " has " + result)

Student Giri has PASS

In [16]:
# Example 5: Address Display (Delivery Apps)
house = "No 21"
area = "MG Road"
city = "Bangalore"

address = house + ", " + area + ", " + city
print(address)

No 21, MG Road, Bangalore

In [17]:
# Example 6: Login message
text = "Welcome!"
name = "Giri"
greeting = text + " " + name
print(greeting)

Welcome! Giri

In [27]:
# Example 7: Show Salary
text = "Salary"
amount = "50000"
show_salary = text + " ₹" + str(amount)
print(show_salary)

Salary ₹50000

In [29]:
# Example 8: Email format:
name = "giri"
format1 = "@gmail.com"
print("Your Email ID is " + name + format1)

Your Email ID is giri@gmail.com

In [30]:
# Example 9: Product label with name + price
product = "Laptop"
price = 42000
product_label = product + " ₹" + str(price)

print(product_label)

Laptop ₹42000

In [34]:
# Example 10: Date format 01-01-2026
day = 1
month = 1
year = 2026

date_format = str(day) + "-" + str( month) + "-" + str(year)
print(date_format)

# If you WANT 01-01-2026:

day = "01"
month = "01"
year = "2026"

date_format = day + "-" + month + "-" + year
print(date_format)

1-1-2026
01-01-2026