## Type Casting:
#### Type casting means changing a value from one data type to another, like `string → int`, `int → float`, `float → string` etc.

### Syntax:

In [36]:
# int(value)
# float(value)
# str(value)
# bool(value)

## ✅ Alternative Casting Examples

In [37]:
# Example 1️⃣ Clean → Cast:
a = "   42\n"
result = int(a.strip())
print(result)   # 42

42

In [38]:
# Example 2️⃣ Via float →  int:
a = "12.0"
result = int(float(a))
print(result)   # 12

12

In [39]:
# Example 3️⃣ Replace comma → dot → cast:
a = "45,8"
result = float(a.replace(",", "."))
print(result)   # 45.8

45.8

In [40]:
# Example 4️⃣ List comprehension:
lst = ["1", "2", "3"]
result = [int(x) for x in lst]
print(result)   # [1, 2, 3]

[1, 2, 3]

In [41]:
# EXample 5️⃣ map() method:
lst = ["4", "5", "6"]
result = list(map(int, lst))
print(result)   # [4, 5, 6]

[4, 5, 6]

## ⭐ Real-Life Example: Giri’s Shopping Bill Calculator:

In [42]:
qty = "3"
price = 199.50
total = int(qty) * price
print(total)   # 598.5

598.5

## ⭐ Real-World Usage

User input → always string

API/CSV/JSON numeric values

Data cleaning

Joining strings + numbers

Financial values (float vs Decimal)

## ⭐ Examples:

In [43]:
# String → int:
a = "10"
print(int(a))   # 10

10

In [44]:
# String → float:
b = "45.6"
print(float(b))  # 45.6

45.6

In [45]:
# Int → string:
c = 50
print(str(c) + " kg")   # 50 kg

50 kg

In [46]:
# Float → int:
d = 9.81
print(int(d))   # 9

9

In [47]:
# Clean string → int:
e = "  30\n"
print(int(e.strip()))  # 30

30

## ⭐ Practice Questions:

In [48]:
# 1) Convert "100" into int and add 20:
a = "100"
print(int(a) + 20) # "100" → 100 → 100 + 20 = 120.

120

In [49]:
# 2) Convert "45.6" into float:
b = "45.6"
print(float(b)) # Converts to decimal number 45.6.

45.6

In [50]:
# 3) Convert 25 to string + " kg":
c = 25
print(str(c) + " kg") # 25 becomes "25" → "25 kg".

25 kg

In [51]:
# 4) Convert 9.99 to int:
d = 9.99
print(int(d)) # int() truncates decimal → 9.

9

In [52]:
# 5) Convert " 30\n" to int:
e = "  30\n"
print(int(e.strip()))  # strip removes spaces → "30" → 30.

30

In [53]:
# 6) Convert list of strings to ints:
lst = ["1","2","3"]
print([int(x) for x in lst]) # Each item converted separately → [1,2,3].

[1, 2, 3]

In [54]:
# 7) Convert "15" → float → int:
x = "15"
print(int(float(x))) # "15" → 15.0 → 15.

15

In [55]:
# 8) Safely convert "abc" to int:
s = "abc"
try:
    num = int(s)
except ValueError:
    num = None
print(num)  #"abc" cannot be cast → ValueError → None.

None

In [56]:
# 9) Convert "009" to int:
z = "009"
print(int(z)) # Leading zeros ignored → 9.

9

In [57]:
# 10) Convert True to int:

print(int(True)) # True → 1, False → 0.

1

In [58]:
# 11) Convert list skipping invalid values:
data = ["10", "eleven", "20"]
out = []
for x in data:
    try:
        out.append(int(x))
    except:
        out.append(None)
print(out)  #"eleven" is invalid → [10, None, 20].

[10, None, 20]

In [59]:
# 12) Convert "3.14" to int:
v = "3.14"
print(int(float(v))) # "3.14" → 3.14 → 3.

3

In [60]:
# 13) Convert " 55.0 " to float then string:
a = " 55.0 "
val = float(a.strip())
print(str(val)) #Clean → float → "55.0".

55.0

In [61]:
# 14) Convert "1e2" to float:
s = "1e2"
print(float(s)) # 1e2 = 100.0.

100.0

In [62]:
# 15) "123.99" truncation vs rounding:
v = "123.99"
print(int(float(v)))         #Truncate → 123
print(int(round(float(v))))  #Round → 124

123
124

## ⭐ Interview Q&A

### ➤ What is type casting?

Converting values between data types using functions like int(), float(), str(), bool().

### ➤ What is explicit vs implicit conversion?

**Explicit**: int("10"), float("3.5")

**Implicit**: Python auto converts (int + float → float).

### ➤ Does int() round numbers?

No — it cuts (truncates) decimals.

### ➤ What happens when casting fails?

ValueError is raised.

### ➤ Why do we strip strings before casting?

To remove spaces/newlines so int() works.